# {{ ansible_managed }}
YUM_PARAMETER={{ yumcron_yum_parameter }}
CHECK_ONLY={{ yumcron_check_only }}
CHECK_FIRST={{ yumcron_check_first }}
DOWNLOAD_ONLY={{ yumcron_download_only }}
ERROR_LEVEL={{ yumcron_error_level }}
DEBUG_LEVEL={{ yumcron_debug_level }}
RANDOMWAIT="{{ yumcron_randomwait }}"
MAILTO={{ yumcron_mailto }}
SYSTEMNAME="{{ yumcron_systemname }}"
DAYS_OF_WEEK="{{ yumcron_days_of_week }}"
CLEANDAY="{{ yumcron_cleanday }}"
SERVICE_WAITS={{ yumcron_service_waits }}
SERVICE_WAIT_TIME={{ yumcron_service_wait_time }}
